<!-- BEGIN login -->
<div class="login login-with-news-feed">
	<!-- BEGIN news-feed -->
	<div class="news-feed">
		<div class="news-image" style="background-image: url(/assets/img/login-bg/Login.png)"></div>
		<div class="news-caption">
			<h4 class="caption-title"><b>Automotive</b> Mechanics App</h4>
			<p>
				Sistema para gerenciamento de oficinas mecânicas
			</p>
		</div>
	</div>
	<!-- END news-feed -->
	
	<!-- BEGIN login-container -->
	<div class="login-container">
		<!-- BEGIN login-header -->
		<div class="login-header mb-30px">
			<div class="brand">
				<div class="d-flex align-items-center">
					<span class="logo"></span>
					<b>Automotive</b> Admin
				</div>
				<small>Sistema para geranciamento de oficinas</small>
			</div>
			<div class="icon">
				<i class="fa fa-sign-in-alt"></i>
			</div>
		</div>
		<!-- END login-header -->
		
		<!-- BEGIN login-content -->
		<div class="login-content">
			<form #f="ngForm" (ngSubmit)="formSubmit(f)" class="fs-13px">
				<div class="form-floating mb-15px">
					<input type="email" class="form-control h-45px fs-13px" placeholder="Email Address" id="emailAddress" [(ngModel)]="login.email" [ngModelOptions]="{standalone: true}"/>
					<label for="emailAddress" class="d-flex align-items-center fs-13px text-gray-600">Email Address</label>
				</div>
				<div class="form-floating mb-15px">
					<input type="password" class="form-control h-45px fs-13px" placeholder="Password" id="password" [(ngModel)]="login.password" [ngModelOptions]="{standalone: true}"/>
					<label for="password" class="d-flex align-items-center fs-13px text-gray-600">Password</label>
				</div>
				<div class="mb-15px">
					<button type="submit" class="btn btn-theme d-block h-45px w-100 btn-lg fs-14px">Login</button>
				</div>
				<div class="mb-40px pb-40px text-dark">
					Clique <a routerLink="/register" class="text-primary">aqui</a> para cadastrar.
				</div>
				<hr class="bg-gray-600 opacity-2" />
				<div class="text-gray-600 text-center mb-0">
					&copy; Automotive Mechanics All Right Reserved 2024
				</div>
			</form>
		</div>
		<!-- END login-content -->
	</div>
	<!-- END login-container -->
</div>
<!-- END login -->