  <!-- BEGIN breadcrumb -->
<ol class="breadcrumb float-xl-end">
	<li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
	<li class="breadcrumb-item"><a href="javascript:;">Fabricante</a></li>
	<li class="breadcrumb-item active">Listar</li>
</ol>
<!-- END breadcrumb -->
<!-- BEGIN page-header -->
<h1 class="page-header">Fabricante <small>lista de fabricante...</small></h1>
<!-- END page-header -->
<div class="Row">
	<div class="col-xl-12 text-end">
		<button class="btn btn-success align-items-end" (click)="redirectAddManufacturer()">Novo Fabricante</button>
	</div>
</div>
<div class="Row mt-10px">
	<!-- BEGIN col-6 -->
	<div class="col-xl-12">
		<panel title="Fabricantes">
			<div class="table-responsive">
				<table class="table table-striped mb-0 align-middle">
					<thead>
						<tr>
							<th>#</th>
							<th>Fabricante</th>
							<th width="1%"></th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let manufacturer of manufacturerListResult.data">
							<td>
								{{ manufacturer.id }}
							</td>
							<td>{{ manufacturer.name}}</td>
						</tr>
					</tbody>
				</table>
			</div>		
		</panel>
		<!-- END panel -->
	</div>
	<!-- END col-12 -->  
</div>